.el-container{
  height: 100% !important;
}

.el-radio+.el-radio{
  margin-left: 0 !important;
}
.el-radio{
  margin-right: 30px;
  line-height: 32px;
}
.el-checkbox+.el-checkbox{
  margin-left: 0 !important;
}
.el-checkbox{
  margin-right: 30px;
}